button {
  cursor: pointer;
}
.cart-prices {
  position: sticky;
  top: 0rem;
  background-color: white;
  width: 20rem;
  padding: 1rem;
  height: max-content;
}
.cart-prices * {
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prices__value--total {
  color: rgba(67, 99, 18, 0.902);
}
.prices__value--discount {
  color: red;
}
.prices--final {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prices__value--saving {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(238, 0, 255);
}
.place-order-container {
  margin-top: 4rem;
}
.place-order-button {
  padding: 0.75rem;
  font-size: large;
  background-color: rgb(0, 181, 0);
  color: white;
  border: 0.25rem solid black;
  border-radius: 4rem;
}
.place-order-button:hover {
  transform: scale(1.05);
}
.cart-prices__place-order {
  padding: 0.75rem;
  margin-top: 4rem;
  font-size: large;
  background-color: rgb(0, 181, 0);
  color: white;
  border: 0.25rem solid black;
  border-radius: 4rem;
}
.cart-prices__place-order:hover {
  transform: scale(1.05);
}
.cart-header {
  background-color: white;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header * {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
}

.cart-header {
  background-color: white;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header * {
  background-color: white;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart-items * {
  background-color: white;
}
.cart-items__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  height: 4rem;
  background-color: white;
  padding: 0.5rem;
  position: sticky;
  top: 0rem;
}
.cart-items__shopping-cart {
  font-weight: bold;
  font-size: 1.5rem;
}
.cart-items__shopping-price {
  align-self: end;
  margin-right: 4rem;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.cart-shopping-items-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.cart-item__product-img {
  width: 12rem;
}
.cart-item__product-info {
  width: 38rem;
  word-wrap: normal;
  /* align-self: center; */
}
.cart-item__product-name {
  color: rgb(86, 200, 86);
}
.cart-item__in-stock {
  color: blue;
}
.cart-item__product-qty {
  display: flex;
  /* padding: 1rem; */
  font-size: 1.25rem;
  align-items: center;
}
.product-price {
  width: 8rem;
}
.cart-item__product-counter {
  display: flex;
  /* padding: 1rem; */
  font-size: 1.25rem;
  align-items: center;
}

.product-price__current-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.product-price__product-mrp-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
del {
  color: red;
}
.cart-item__product-button {
  padding: 0.25rem;
  color: whitesmoke;
  font-size: 1.25rem;
  border: 0;
}
.cart-item__product-button--inc {
  background-color: green;
}
.cart-item__product-button--dec {
  background-color: red;
}
.cart-item__product-remove {
  margin-top: 2rem;
  padding: 0.25rem;
  border: 0;
  background-color: red;
  color: white;
}
button {
  cursor: pointer;
}
.cart-prices {
  position: sticky;
  top: 0rem;
  background-color: white;
  width: 20rem;
  padding: 1rem;
}
.cart-prices * {
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prices__value--total {
  color: rgba(67, 99, 18, 0.902);
}
.prices__value--discount {
  color: red;
}
.prices--final {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prices__value--saving {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(238, 0, 255);
}
.place-order-container {
  margin-top: 4rem;
}
.place-order-button {
  padding: 0.75rem;
  font-size: large;
  background-color: rgb(0, 181, 0);
  color: white;
  border: 0.25rem solid black;
  border-radius: 4rem;
}
.place-order-button:hover {
  transform: scale(1.05);
}
.cart-prices__place-order {
  padding: 0.75rem;
  margin-top: 4rem;
  font-size: large;
  background-color: rgb(0, 181, 0);
  color: white;
  border: 0.25rem solid black;
  border-radius: 4rem;
}
.cart-prices__place-order:hover {
  transform: scale(1.05);
}
